// font family
$shrikhandFont: 'Shrikhand', cursive;

// font size
$fontLarge: 2.5rem;

// font style
$fontBold: bold;

// colors
$portlandOrange: #FC5130;
$jetBlack: #303036;
$ghostWhite: #FFFAFF;
$amethyst: #A06CD5;
