@use "general";
@import "variables";

.fontLarge{
    font-size: $fontLarge;
}

.fontBold{
    font-weight: $fontBold;
}

.centerText{
    text-align: center;
}

.navMenu{
    a{
        text-decoration: none;
        &:visited{
            color: $lightPurple;
        }
        &:active{
            color: $portlandOrange;
        }
    }
}

header{
    display: grid;
    justify-items: center;
    margin: 20px;
    p{
        font-family: $shrikhandFont;
        color: $portlandOrange;
    }
}

#logo{
    width: 200px;
    border-radius:100px;
    transition: width 1s ease-in-out;
    &:active{
        width: 600px;
    }
}

article{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 30px;
    background-color: $lightPurple;
    p{
        color: $amethyst;
        padding: 20px;
    }
}

.articleImg{
    width: 50%;
    padding: 20px;
}

